<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav>
        <div><a href="https://jh-flask-api.herokuapp.com/">Homepage</a></div>
        <div><a href="https://jh-flask-api.herokuapp.com/show">Showpage</a></div>
    </nav>
    <h1>Welcome to our app</h1>
    <div id="content">{% block content %} {% endblock %}</div>

    <div id="footer"><p>Our footer for this page</p></div>
</body>
</html>